@import "src/sass/_veriables.sass"

.choices
  width: max-content
  min-width: 90px
  line-height: 18px
  border: none
  
.choices__inner
  padding: 0
  border: none
  color: $purple-main
  background-color: transparent
  min-height: auto
  font-size: 16px
  &:hover
    @media (min-width: 1025px)
      color: $purple-light
.is-active .choices__inner
  color: $purple-shade
.is-focused .choices__inner
  background-color: $pink-violet
  color: $purple-shade
.is-open .choices__inner
  background-color: transparent
  color: $purple-main
.choices[data-type*="select-one"] .choices__inner
  padding-bottom: 0

.choices__list--single
  display: inline-block
  padding: 2px 5px
  width: 100%

.choices__list--dropdown
  opacity: 0
  // max-height: 0

/**/
.is-open .choices__list--dropdown
  border: 2px solid $light-grey
  background-color: #fff
  width: max-content
  padding: 16px 19px 9px 16px
  opacity: 1
  // max-height: 150px
  transition: max-height, opacity
  transition-duration: 0.5s, 0.55s
  transition-timing-function: ease-in-out
.choices__list--dropdown .choices__item--selectable
  padding: 0
  margin-bottom: 10px
  font-size: 14px
.choices__list--dropdown .choices__item--selectable.is-highlighted
  background-color: #fff
  color: $purple-main
/**/
.choices[data-type*=select-one]::after
  height: 8px
  width: 8px
  border-width: 0px
  border-right: 1px solid $purple-main
  border-top: 1px solid $purple-main
  transform: rotate(135deg)
  margin-top: -4px
.choices[data-type*=select-one].is-open::after
  border-width: 0px
  border-left: 1px solid $purple-main
  border-bottom: 1px solid $purple-main
  margin-top: -2px
