.fixed-container
 min-width: 320px
 // max-width: 565px
 width: 100%
 padding: 0 12px
 margin: 0 auto
 border: 1px solid red

@media (min-width: 768px)
 .fixed-container
  max-width: 768px
  padding: 0 27px
  border: 1px solid green
    
@media (min-width: 1024px)
 .fixed-container
  max-width: 1024px
  padding: 0 30px
  border: 1px solid blue

@media (min-width: 1280px)
 .fixed-container
  max-width: 1280px
  padding: 0
  border: 1px solid cyan
