$light-grey: #F7F7F7
$md-grey: #EAEAEA
$grey: #999
$purple-main: #A65CF0
$purple-shade: #7033AC
$pink-light: #F8EFFF
$pink-violet: #EBD1FF
$orange: #FF862F


.header
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: repeat(5, auto)
  @media (min-width: 768px)
    grid-template-columns: 200px auto 200px
    grid-template-rows: repeat(4, auto)
  @media (min-width: 1024px)
    // grid-template-columns: repeat(4, auto)
    grid-template-columns: auto auto auto 208px
  @media (min-width: 1280px)
    // grid-template-columns: auto 200px 600px auto
    grid-template-columns: auto 325px 240px 600px 125px auto
  &__logo
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2
    @media (min-width: 768px)
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: 2
    @media (min-width: 1280px)
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 2
      grid-row-end: 3
  &__region
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 3
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: 4
      grid-row-start: 1
      grid-row-end: 2
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: -1
    @media (min-width: 1280px)
      grid-column-start: 1
      grid-column-end: 4
  &__main-nav
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 3
    grid-row-end: 4
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: 2
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: 2
      grid-column-end: -1
    @media (min-width: 1280px)
      grid-column-start: 3
      grid-column-end: -2
      grid-row-start: 2
      grid-row-end: 3
  &__users-data
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 3
    grid-row-end: 4
    justify-self: end
    @media (min-width: 768px)
      grid-column-start: -2
      grid-column-end: -1
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: -2
      grid-column-end: -1
      grid-row-start: 2
      grid-row-end: 3
    @media (min-width: 1280px)
      grid-column-start: -3
      grid-column-end: -2
      grid-row-start: -2
      grid-row-end: -1
  &__search-form
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 4
    grid-row-end: 5
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: -1
      grid-row-start: -2
      grid-row-end: -1
    @media (min-width: 1280px)
      grid-column-start: 2
      grid-column-end: -3
      grid-row-start: -2
      grid-row-end: -1
  &__additional-menu
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: -1
      grid-row-start: 2
      grid-row-end: 3
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: -2
    @media (min-width: 1280px)
      grid-column-start: -4
      grid-column-end: -1
      grid-row-start: 1
      grid-row-end: 2

  .logo
    display: flex
    justify-content: center
    background-color: $light-grey
    @media (min-width: 768px)
      background-color: transparent
    @media (min-width: 1280px)
      justify-content: flex-start
    &__img
      width: 187px
      height: auto
      margin: 12px 0 11px 0
      @media (min-width: 768px)
        margin: 32px 0 12px 0
      @media (min-width: 1024px)
        margin: 30px 0 12px 5px
      @media (min-width: 1280px)
        margin-left: 10px
  .region
    display: flex
    flex-direction: column
    padding: 18px 12px
    border-bottom: 1px solid $light-grey
    @media (min-width: 768px)
      flex-direction: row
      justify-content: space-between
      padding: 20px 72px
      border-bottom: none
    @media (min-width: 1024px)
      padding: 20px 36px
    @media (min-width: 1280px)
      padding: 18px 0 14px 0
      justify-content: flex-end
      margin-right: 200px
    &-select
      display: flex
      align-items: center
      &__desc
        margin-right: 5px
    &-wrapper
      @media (min-width: 1280px)
        background-color: $light-grey
    .region-list
      -webkit-appearance: none
      -moz-appearance: none
      -ms-appearance: none
      width: 76px
      background: url("../images/arrow-down-purple.png")
      background-repeat: no-repeat
      background-position: right 8px
      border: none
      color: $purple-main
      cursor: pointer
      &:active
        color: $purple-shade
      &:focus
        background-color: $pink-violet
        color: $purple-shade
    &__contact-phone
      margin-top: 20px
      @media (min-width: 768px)
        margin-top: 0
      @media (min-width: 1280px)
        margin-left: 30px

  .contact-phone
    display: block
    padding-left: 22px
    font-size: 14px
    line-height: 16px
    color: $orange
    background-image: url("../images/phone-orange.svg")
    // background-image: url("../images/sprite.svg#phone-orange")
    background-position: left
    background-repeat: no-repeat
    background-size: 18px 18px
    // @media (min-width: 768px)
    // @media (min-width: 1290px)

  .add-menu
    display: none
    @media (min-width: 768px)
      display: flex
      justify-content: space-between
      padding: 18px 72px 15px 72px
      font-size:14px
      color: $grey
      background-color: $light-grey
    @media (min-width: 1024px)
      padding: 18px 72px 15px 36px
    @media (min-width: 1280px)
      padding: 18px 0 15px 0
      margin-left: 15px
      width: 710px
      background-color: transparent
    &-wrapper
      @media (min-width: 1280px)
        background-color: $light-grey

  .main-nav
    padding: 12px 0 12px 12px
    @media (min-width: 768px)
      padding: 30px 0 12px 72px
    @media (min-width: 1024px)
      // padding: 12px 36px 12px 32px
      padding: 18px 36px 0px 32px
      align-self: center
    @media (min-width: 1280px)
      padding: 28px 0 0 0
      margin-left: 15px
    &__list
      display: none
      @media (min-width: 1024px)
        display: flex
        justify-content: space-between
    .nav-btn
      width: 32px
      height: 30px
      padding: 4px
      border: none
      background-color: transparent
      @media (min-width: 768px)
        height: 32px
      @media (min-width: 1024px)
        display: none
      &-line
        display: block
        width: 24px
        height: 3px
        background-color: $purple-main
        &:nth-child(2)
          margin: 7px auto

  .search-form
    border-top: 1px solid $light-grey
    padding: 15px 12px 32px 12px
    @media (min-width: 768px)
      border-top: none
      padding: 20px 72px 30px 72px
      display: flex
      flex-direction: row
    @media (min-width: 1024px)
      padding: 22px 36px 32px 36px
    @media (min-width: 1280px)
      padding: 22px 90px 32px 12px

    .search-field
      border: 1px solid $light-grey
      background-color: $light-grey
      border-radius: 10px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 12px 32px
      @media (min-width: 768px)
        width: 90%
        border-radius: 10px 0 0 10px
      @media (min-width: 1024px)
        width: 68.5%
      @media (min-width: 1280px)
        width: 80%
      &:hover
        background-color: $md-grey
      &:focus
        background-color: $pink-light
      &__input
        width: 85%
        background-color: inherit
        border: none
        padding: 0 9px 0 25px
        background-image: url("../images/search.svg")
        background-repeat: no-repeat
        background-position: center left
        background-size: 16px
        &:active
          background-image: url("../images/search-purple.svg")
      &__input::placeholder
        color: $grey
      &__input::-webkit-input-placeholder
        color: $grey
      &__input::-moz-placeholder
        color: $grey
      &__submit
        width: 32px
        height: 32px
        border-radius: 50%
        border: 2px solid $purple-main
        background-image: url("../images/arrow-right-purple.png")
        background-repeat: no-repeat
        background-position: center
        background-color: inherit
        cursor: pointer

    .search-area
      margin-top: 15px
      @media (min-width: 768px)
        width: 40%
        margin-top: 0
      @media (min-width: 1024px)
        width: 31.5%
      &__list
        display: none
        // display: flex
        flex-wrap: wrap
        padding: 22px 30px 12px 30px
        border: 2px solid $light-grey
        border-radius: 0 0 10px 10px
      &__item
        width: 50%
        display: block
        margin-bottom: 10px
        cursor: pointer
        caret-color: transparent
        input[type="radio"]
          display: none
          &:checked+span
            color: $purple-shade

      .srch-area-btn
        width: 100%
        display: flex
        justify-content: space-between
        background-color: transparent
        border: 2px solid $light-grey
        border-radius: 10px
        padding: 19px 28px
        color: $purple-main
        line-height: 18px
        text-align: left
        @media (min-width: 768px)
          border-radius: 0 10px 10px 0
        &:active
          border-color: $purple-main
        &__arrow
          display: block
          width: 18px
          height: 15px
          background-image: url("../images/arrow-down-purple.png")
          background-repeat: no-repeat
          background-position: bottom center

  .users-data
    display: flex
    justify-content: space-between
    width: 112px
    padding: 12px 12px 12px 0
    @media (min-width: 768px)
      width: 171px
      padding: 32px 72px 12px 0
    @media (min-width: 1024px)
      background-color: $light-grey
      width: 100%
      padding: 12px 36px 12px 72px
    @media (min-width: 1280px)
      align-self: center
      padding: 12px 0 15px 0
      justify-content: flex-end
      background-color: transparent
    .users-cabinet
      display: block
      width: 28px
      height: 28px
      background-image: url("../images/users-cabinet.png")
      background-repeat: no-repeat
      background-position: center
      @media (min-width: 1280px)
        margin-right: 40px
    .users-basket
      display: block
      width: 30px
      height: 28px
      background-image: url("../images/users-basket.png")
      background-repeat: no-repeat
      background-position: center
      position: relative
      &__content
        display: block
        width: 15px
        height: 15px
        border-radius: 50%
        background-color: $orange
        font-size: 10px
        color: #fff
        text-align: center
        position: absolute
        top: 6px
        left: -12px

