@import "src/sass/choices.sass"

$light-grey: #F7F7F7
$md-grey: #EAEAEA
$grey: #999

$purple-main: #A65CF0
$purple-shade: #7033AC
$purple-light: #C998FB

$pink-light: #F8EFFF
$pink-violet: #EBD1FF

$orange: #FF862F
$orange-light: #FFBD59
$orange-shade: #BB370E
$orange-light-bgr :#FFF5D1

.header
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: repeat(5, auto)
  @media (min-width: 768px)
    grid-template-columns: 200px auto 200px
    grid-template-rows: repeat(4, auto)
  @media (min-width: 1024px)
    grid-template-columns: auto auto auto 208px
  @media (min-width: 1290px)
    grid-template-columns: auto 320px 240px 600px 120px auto
  &__logo
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2
    @media (min-width: 768px)
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: 2
    @media (min-width: 1290px)
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 2
      grid-row-end: 3
  &__region
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 3
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: 4
      grid-row-start: 1
      grid-row-end: 2
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: -1
    @media (min-width: 1290px)
      grid-column-start: 1
      grid-column-end: 4
  &__main-nav
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 3
    grid-row-end: 4
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: 2
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: 2
      grid-column-end: -1
    @media (min-width: 1290px)
      grid-column-start: 3
      grid-column-end: -2
      grid-row-start: 2
      grid-row-end: 3
  &__users-data
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 3
    grid-row-end: 4
    justify-self: end
    @media (min-width: 768px)
      grid-column-start: -2
      grid-column-end: -1
      grid-row-start: 3
      grid-row-end: 4
    @media (min-width: 1024px)
      grid-column-start: -2
      grid-column-end: -1
      grid-row-start: 2
      grid-row-end: 3
    @media (min-width: 1290px)
      grid-column-start: -3
      grid-column-end: -2
      grid-row-start: -2
      grid-row-end: -1
  &__search-form
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 4
    grid-row-end: 5
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: -1
      grid-row-start: -2
      grid-row-end: -1
    @media (min-width: 1290px)
      grid-column-start: 2
      grid-column-end: -3
      grid-row-start: -2
      grid-row-end: -1
  &__additional-menu
    @media (min-width: 768px)
      grid-column-start: 1
      grid-column-end: -1
      grid-row-start: 2
      grid-row-end: 3
    @media (min-width: 1024px)
      grid-column-start: 1
      grid-column-end: -2
    @media (min-width: 1290px)
      grid-column-start: -4
      grid-column-end: -1
      grid-row-start: 1
      grid-row-end: 2

  .logo
    display: flex
    justify-content: center
    background-color: $light-grey
    @media (min-width: 768px)
      background-color: transparent
    @media (min-width: 1290px)
      justify-content: flex-start
    &__img
      // width: 187px
      // height: 27px
      margin: 12px 0 11px 0
      @media (min-width: 768px)
        margin: 32px 0 12px 0
      @media (min-width: 1024px)
        margin: 32px 0 12px 15px
      @media (min-width: 1290px)
        margin-left: 0
  .region
    display: flex
    flex-direction: column
    padding: 18px 12px 15px 12px
    border-bottom: 1px solid $light-grey
    @media (min-width: 768px)
      flex-direction: row
      justify-content: space-between
      padding: 18px 72px
      border-bottom: none
    @media (min-width: 1024px)
      padding: 18px 36px
    @media (min-width: 1290px)
      padding: 14px 0 14px 0
      justify-content: flex-end
      margin-right: 210px
    &-select
      display: flex
      align-items: center
      &__desc
        margin: 0
    &-wrapper
      @media (min-width: 1290px)
        background-color: $light-grey
    .region-list
      // -webkit-appearance: none
      // -moz-appearance: none
      // -ms-appearance: none
      // width: max-content
      // min-width: 80px
      // line-height: 18px
      // padding: 2px 20px 2px 3px
      // background: url("../images/arrow-down-purple.png")
      // background-repeat: no-repeat
      // background-position: right 8px
      // border: none
      // color: $purple-main
      // cursor: pointer
      // &:active
      //   color: $purple-shade
      // &:focus
      //   background-color: $pink-violet
      //   color: $purple-shade
    &__contact-phone
      margin-top: 15px
      @media (min-width: 768px)
        margin-top: 0
      @media (min-width: 1290px)
        margin-left: 30px
        // margin-left: 24px

  .contact-phone
    display: block
    padding-left: 22px
    font-size: 14px
    line-height: 22px
    color: $orange
    // background-image: url("../images/phone_orange.png")
    background-image: url("../images/sprite.svg#phone-orange")
    background-repeat: no-repeat
    background-position: -45px 3px
    background-size: auto 18px
    &:hover
      color: $orange-light
      // background-image: url("../images/phone_orange_hover.png")
      background-image: url("../images/sprite.svg#phone-orange-hover")
    &:focus
      color: $orange
      // background-image: url("../images/phone_orange.png")
      background-image: url("../images/sprite.svg#phone-orange")
      background-color: $orange-light-bgr
    &:active
      color: $orange-shade
      // background-image: url("../images/phone_orange_active.png")
      background-image: url("../images/sprite.svg#phone-orange-active")

  .add-menu
    display: none
    @media (min-width: 768px)
      display: flex
      justify-content: space-between
      padding: 18px 72px 16px 72px
      font-size:14px
      color: $grey
      background-color: $light-grey
    @media (min-width: 1024px)
      padding: 18px 72px 15px 36px
    @media (min-width: 1290px)
      padding: 18px 0 15px 0
      margin-left: 10px
      width: 710px
      background-color: transparent
    &__item:first-child
      margin-left: -10px
    &__item:last-child
      margin-right: -10px
    &-wrapper
      @media (min-width: 1290px)
        background-color: $light-grey

  .main-nav
    padding: 10px 0 10px 12px
    @media (min-width: 768px)
      padding: 30px 0 12px 72px
    @media (min-width: 1024px)
      padding: 18px 36px 0px 40px
      align-self: center
    @media (min-width: 1290px)
      padding: 22px 0 0 0
      margin-left: 5px
    &__list
      display: none
      @media (min-width: 1024px)
        display: flex
        justify-content: space-between
    .nav-btn
      width: 32px
      height: 30px
      padding: 3px 4px
      border: none
      background-color: transparent
      @media (min-width: 768px)
        height: 32px
      @media (min-width: 1024px)
        display: none
      &-line
        display: block
        width: 24px
        height: 3px
        background-color: $purple-main
        transition: all 0.3s ease-in-out
        &:nth-child(2)
          margin: 7px auto
      &.nav-btn-active
        .nav-btn-line:nth-child(2)
          opacity: 0
      &.nav-btn-active
        .nav-btn-line:nth-child(1)
          transform: translateY(10px) rotate(45deg)
      &.nav-btn-active
        .nav-btn-line:nth-child(3)
          transform: translateY(-10px) rotate(-45deg)
    &__item:first-child
      margin-left: -10px
    &__item:last-child
      margin-right: -10px

  .search-form
    border-top: 1px solid $light-grey
    padding: 15px 12px 32px 12px
    @media (min-width: 768px)
      border-top: none
      padding: 15px 72px 30px 72px
      display: flex
      flex-direction: row
    @media (min-width: 1024px)
      padding: 22px 36px 32px 36px
    @media (min-width: 1290px)
      padding: 22px 90px 32px 0px

    .search-field
      border: 2px solid $light-grey
      background-color: $light-grey
      border-radius: 10px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 12px 32px
      @media (min-width: 768px)
        width: 90%
        border-radius: 10px 0 0 10px
      @media (min-width: 1024px)
        width: 68.5%
      @media (min-width: 1290px)
        width: 78%
      &:hover
        background-color: $md-grey
        border-color: $md-grey
      &:focus
        background-color: $pink-light
        border-color: $purple-main
      &:active
        background-color: $light-grey
      &__input
        width: 85%
        background-color: inherit
        border: none
        padding: 0 9px 0 25px
        // background-image: url("../images/search.png")
        background-image: url("../images/sprite.svg#search")
        background-repeat: no-repeat
        background-position: -40px center
        background-size: auto 16px
        &:focus
          // background-image: url("../images/search-purple.png")
          background-image: url("../images/sprite.svg#search-purple")
      &__input::placeholder
        color: $grey
      &__input::-webkit-input-placeholder
        color: $grey
      &__input::-moz-placeholder
        color: $grey
      &__submit
        width: 32px
        height: 32px
        border-radius: 50%
        border: 2px solid $purple-main
        background-image: url("../images/arrow-right-purple.png")
        background-repeat: no-repeat
        background-position: center
        background-color: inherit
        cursor: pointer
        &:focus
          background-color: $pink-light

    .search-area
      margin-top: 15px
      position: relative
      background-color: #fff
      @media (min-width: 768px)
        width: 40%
        margin-top: 0
      @media (min-width: 1024px)
        width: 31.5%
      &__list
        display: none
        // display: flex
        position: absolute
        flex-wrap: wrap
        padding: 22px 10% 12px 10%
        border: 2px solid $light-grey
        border-radius: 0 0 10px 10px
        z-index: 15
        background-color: inherit
      &__item
        width: 50%
        display: block
        margin-bottom: 10px
        cursor: pointer
        caret-color: transparent
        overflow: hidden
        text-overflow: ellipsis
        input[type="radio"]
          display: none
          &:checked+span
            color: $purple-shade

      .srch-area-btn
        width: 100%
        display: flex
        justify-content: space-between
        background-color: transparent
        border: 2px solid $light-grey
        border-radius: 10px
        padding: 19px 36px 19px 28px
        color: $purple-main
        line-height: 18px
        text-align: left
        @media (min-width: 768px)
          border-radius: 0 10px 10px 0
        &:hover
          border-color: $purple-main
        &:active
          border-color: $purple-shade
        &:focus
          border-color: $purple-main
          background-color: $pink-light
        &__arrow
          display: block
          width: 18px
          height: 15px
          background-image: url("../images/arrow-down-purple.png")
          background-repeat: no-repeat
          background-position: bottom center

  .users-data
    display: flex
    justify-content: space-between
    width: 115px
    padding: 5px 10px 5px 0
    @media (min-width: 768px)
      width: 174px
      padding: 30px 68px 12px 0
    @media (min-width: 1024px)
      background-color: $light-grey
      width: 100%
      padding: 7px 32px 6px 70px
    @media (min-width: 1290px)
      align-self: center
      margin-right: -10px
      padding: 5px 8px 15px 0
      justify-content: flex-end
      background-color: transparent
    .users-cabinet
      display: block
      width: 34px
      height: 36px
      // background-image: url("../images/users-cabinet.png")
      background-image: url("../images/sprite.svg#users-cabinet")
      background-repeat: no-repeat
      background-position: center
      // background-size: 26px 28px
      background-size: 187px 30px
      @media (min-width: 1290px)
        margin-right: 20px
      &:hover
        // background-image: url("../images/users-cabinet-hover.png")
        background-image: url("../images/sprite.svg#users-cabinet-hover")
      &:active
        // background-image: url("../images/users-cabinet-active.png")
        background-image: url("../images/sprite.svg#users-cabinet-active")
      &:focus
        // background-image: url("../images/users-cabinet-focus.png")
        background-image: url("../images/sprite.svg#users-cabinet-focus")
        background-color: $purple-light
    .users-basket
      display: block
      width: 50px
      height: 36px
      // background-image: url("../images/users-basket.png")
      background-image: url("../images/sprite.svg#users-basket")
      background-repeat: no-repeat
      background-position: -62px center
      background-size: 187px 30px
      position: relative
      &:hover
        // background-image: url("../images/users-basket-hover.png")
        background-image: url("../images/sprite.svg#users-basket-hover")
      &:active
        // background-image: url("../images/users-basket-active.png")
        background-image: url("../images/sprite.svg#users-basket-active")
      &:focus
        // background-image: url("../images/users-basket-focus.png")
        background-image: url("../images/sprite.svg#users-basket-focus")
        background-color: $purple-light
      &__content
        display: block
        width: 15px
        height: 15px
        position: absolute
        top: 10px
        left: 6px
        border-radius: 50%
        background-color: $orange
        font-size: 10px
        color: #fff
        text-align: center

  .search-area-open
    .srch-area-btn__arrow
      transform: rotateX(180deg)
      transition: transform 0.5s ease-in-out
    .search-area__list
      display: flex
      animation: open-srch-list 0.5s ease-in-out 1
      animation-fill-mode: forwards
      transform-origin: center top

  @keyframes open-srch-list
    from
      transform: scaleY(0)
    to
      transform: scaleY(1)

  .main-nav-open
    width: 100vw
    height: 100%
    padding: 0
    background-color: rgba(0, 0, 0, 0.5)
    position: fixed
    top: 0
    left: 0
    z-index: 16
    .main-nav-container
      width: 90vw
      height: 100%
      padding: 20px
      background-color: #FFF
      animation: move-popup 0.5s ease-in-out 1
      position: absolute
      top: 0
      left: 0
      .main-nav__list
        display: block
        overflow-x: hidden
        overflow-Y: auto
        .main-nav__item
          margin: 20px 0
        .main-nav__link
          padding: 0 10px

  @keyframes move-popup
    from
      // width: 0
      height: 0
      left: -90vw
      opacity: 0
    to
      // width: 90vw
      height: 100%
      left: 0
      opacity: 1
      

