/**/
.contact-form__name.is-invalid,
.contact-form__email.is-invalid,
.contact-form__phone.is-invalid
  border-color: #ff6972
.contact-form__name.is-success,
.contact-form__email.is-success,
.contact-form__phone.is-success
  border-color: #B8EC64
  color: #333
.is-label-invalid
  color: #ff6972
  font-size: 12px
  line-height: 12px
  position: absolute
  top: 2px
  left: 12px