$light-grey: #f7f7f7
$md-grey: #eaeaea
$grey: #999

$purple-main: #a65cf0
$purple-shade: #7033ac
$purple-light: #c998fb

$pink-light: #f8efff
$pink-violet: #ebd1ff

$orange: #ff862f
$orange-light: #ffbd59
$orange-shade: #bb370e
$orange-light-bgr :#fff5d1

.main
  .hero
    height: 300px
    @media (min-width: 768px)
      height: 400px
    &-content
      &__banner
        height: 210px
        background-color: $light-grey
      &__btn
        width: 296px
        margin: 32px auto 0 auto
        background-color: $purple-main
        

