@import "src/sass/fonts.sass"
@import "src/sass/container.sass"
@import "src/sass/header.sass"
@import "src/sass/main.sass"
// @import "src/sass/footer.sass"

$purple-main: #a65cf0
$purple-shade: #7033ac
$purple-light: #c998fb

$pink-violet: #ebd1ff

$md-grey: #eaeaea
$grey: #999

html
    box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

body
 background-color: #fff
 color: #333
 font-family: "Open Sans", "Arial", sans-serif
 // font-family: "Playfair Display", serif
 font-size: 16px
 line-height: 16px

a
 text-decoration: none
 color: inherit

ul
 list-style: none
 margin: 0
 padding: 0

img
 max-width: 100%

// h1, h2, h3, p
//  margin: 0

*:focus
 outline: none !important

*::-moz-focus-inner
 border: 0 !important

button
 cursor: pointer

.visually-hidden
 position: absolute !important
 clip: rect(1px 1px 1px 1px)
 padding: 0 !important
 border: 0 !important
 height: 1px !important
 width: 1px !important
 overflow: hidden

// .social-link
//  svg
//   color: #CACACA
//   transition-property: color
//   transition-duration: 0.25s
//   transition-timing-function: ease-in-out
//  &:hover
//   svg
//    color: #FF6E30
//  &:focus
//   svg
//    color: #BC572B
//  &:active
//   svg
//    color: #CE4307

.menu-link
  padding-left: 10px
  padding-right: 10px
  transition-property: background-color, color
  transition-duration: 0.25s
  transition-timing-function: ease-in-out
  &:hover
    color: $purple-main
  &:focus
    background-color: $pink-violet
  &:active
    color: $purple-shade

.animated-btn
  transition-property: background-color, border-color, color, background-image
  transition-duration: 0.25s
  transition-timing-function: ease-in-out

.purple-btn
  display: block
  border: 2px solid $purple-main
  color: #fff
  background-color: $purple-main
  font-size: 16px
  font-weight: 700
  line-height: 16px
  padding-top: 20px
  padding-bottom: 20px
  border-radius: 10px
  &:hover
    background-color: $purple-light
  &:focus
    background-color: $purple-light
    border-color: $purple-shade
  &:active
    background-color: $purple-shade
    border-color: $purple-shade
  &:disabled
    background: $md-grey
    color: $grey
    border-color: $md-grey

.transp-btn
  display: block
  width: 125px
  padding-top: 16px
  padding-bottom: 18px
  border-radius: 10px
  border: 2px solid $purple-main
  background-color: transparent
  color: $purple-main
  font-size: 16px
  font-weight: 600
  line-height: 16px
  text-align: center
  &:hover
    background-color: $purple-main
    color: #fff
  &:focus
    background-color: $purple-light
    color: #fff
  &:active
    background-color: $purple-shade
    color: #fff
    border-color: $purple-shade
