<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Магазин SitDownPls">
	<title>Магазин SitDownPls. Страница товара</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	@@include('page-blocks/_header.html')
	
	<main>
	Главная
	/
	Каталог
	/
	Диваны
	/
	Прямые диваны
	/
	D-31


	4,8
	Диван тканевый прямой “D-31”
	Мини 120 см без ящика Stark синий (Рогожка)
	28 490 руб
	Купить в один клик
	+ Добавить в корзину

	Опорный механизм
	Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
	Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.

	Гарантия
	Артикул
	Длина
	Высота
	Глубина
	Спальное место
	Высота посадки
	Механизм
	Тип обивки
	Цвет
	Наполнитель
	Материал каркаса
	Количество мест
	Категория
	Возврат

	18 месяцев
	AAA41269004
	163 см
	90 см
	108 см
	200 см х 125 см
	45 см
	Опорный
	Рогожка
	Синий
	Независимый пружинный блок
	Металл. рама с дерев. латами
	Двухместные
	Прямые тканевые диваны
	Условия


	Похожие товары

	4,5
	Диван велюровый “R-85”
	34 990 руб
	Купить
	4,6
	Диван флоковый “H-58”
	23 990 руб
	Купить
	4,5
	Диван велюровый “S-44”
	19 990 руб
	Купить
	4,8
	Диван шиниловый “V-43”
	19 990 руб
	Купить
	</main>

	@@include('page-blocks/_footer.html')	
</body>
</html>