  <footer class="footer">
    <div class="footer__top">
      <div class="footer-container">
        <div class="footer__logo footer-logo">
          <a href="/" aria-label="на главную страницу">
            <svg class="footer-logo__img" width="187" height="27">
              <use xlink:href="/images/sprite.svg#logo"></use>
            </svg>
          </a>
        </div>

        <ul class="footer__social footer-social">
          <li class="footer-social__link">
            <a class="social-link social-link_fb" href="#" aria-label="мы в фейсбук">
              <svg class="social-icon" width="30" height="30"><use xlink:href="/images/sprite.svg#fb"></use></svg>
            </a>
          </li>
          <li class="footer-social__link">
            <a class="social-link social-link_vk" href="#" aria-label="мы во вконтакте">
              <svg class="social-icon" width="30" height="30"><use xlink:href="/images/sprite.svg#vk"></use></svg>
            </a>
          </li>
          <li class="footer-social__link">
            <a class="social-link social-link_inst" href="#" aria-label="мы в инстаграм">
              <svg class="social-icon" width="30" height="30"><use xlink:href="/images/sprite.svg#instagram"></use></svg>
            </a>
          </li>
        </ul>

        <ul class="footer__nav footer-menu">
          <li class="footer-menu__group menu-group">
            <p class="menu-group__title">О нас</p>

            <ul class="menu-group__subgroup menu-subgroup">
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">О компании</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Блог</a>
              </li>
            </ul>
          </li>

          <li class="footer-menu__group menu-group">
            <p class="menu-group__title">Услуги</p>

            <ul class="menu-group__subgroup menu-subgroup">
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Доставка</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Рассрочка и кредит</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Сборка и установка</a>
              </li>
            </ul>
          </li>

          <li class="footer-menu__group menu-group">
            <p class="menu-group__title">Связь с нами</p>

            <ul class="menu-group__subgroup menu-subgroup">
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Обратная связь</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Контакты</a>
              </li>
            </ul>
          </li>

          <li class="footer-menu__group menu-group">
            <p class="menu-group__title">Сотрудничество</p>

            <ul class="menu-group__subgroup menu-subgroup">
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Поставщикам</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Оптовикам</a>
              </li>
              <li class="menu-subgroup__item">
                <a href="" class="menu-subgroup__link menu-link">Карьера</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="copyright">SDP®&nbsp;&nbsp;&nbsp;2011-2021</p>
    </div>
  </footer>