@import "src/sass/_veriables.sass"
@import "src/sass/_product-card.sass"
@import "src/sass/product/swiper.sass"
/**/

.product
  padding-bottom: 70px
  
.similar-products
  padding-bottom: 70px
  &__title
    margin: 0
    margin-bottom: 24px
  &__list
    box-sizing: border-box
    @include product-card
  &__item
    width: 140px