/*product*/

@import "src/sass/_global.sass"
@import "src/sass/_veriables.sass"
@import "src/sass/fonts.sass"
@import "src/sass/container.sass"
@import "src/sass/header.sass"
@import "src/sass/product/main.sass"
@import "src/sass/footer.sass"

// *
//   border: 1px solid #f00 !important

body
  background-color: #fff
  color: #333
  font-family: "Open Sans", "Arial", sans-serif

@import "src/sass/_unified.sass"
